<head>
  <title>
    <%= content_for :page_title || "" %> | <%#=  SensibleConfig.app_name %>
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= action_cable_meta_tag %>
  <%= hotwire_livereload_tags if Rails.env.development? %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
